<form action="/feature/create" method="post">
    Id Game : <input type="text" name="game_id"><br>
    gameplay : <input type="text" name="gameplay"><br>
    graphic : <input type="text" name="graphic"><br>
    control : <input type="text" name="controls"><br>
    story : <input type="text" name="story"><br>
    music : <input type="text" name="music"><br>
    
    <input type="submit" value="Simpan">
</form>