<form action="/games/create" method="post">
    Id Game : <input type="text" name="game_id"><br>
    game name : <input type="text" name="game_name"><br>
    release_date : <input type="text" name="release_date"><br>
    harga : <input type="text" name="harga"><br>
    publisher : <input type="text" name="publisher"><br>
    photo_url : <input type="text" name="photo_url"><br>
    screenshot1 : <input type="text" name="screenshot1_url"><br>
    screenshot2 : <input type="text" name="screenshot2_url"><br>
    screenshot3 : <input type="text" name="screenshot3_url"><br>
    video_url : <input type="text" name="video_url"><br>
    rating : <input type="text" name="rating"><br>
    description : <input type="text" name="description"><br>
  

    <input type="submit" value="Simpan">
</form>

