<form action="/games/create" method="post">
    Id Game : <input type="text" name="game_id"><br>
    ss_url : <input type="text" name="screenshot_url"><br>
    photo_url : <input type="text" name="photo_url"><br>
    video_url : <input type="text" name="video_url"><br>
    harga : <input type="text" name="harga"><br>
    discount : <input type="text" name="discount"><br>
    description : <input type="text" name="description"><br>
    os : <input type="text" name="OS"><br>
    hdd : <input type="text" name="HDD_space"><br>

    <input type="submit" value="Simpan">
</form>