<form action="/Genrelist/create" method="post">
    Id Game : <input type="text" name="game_id"><br>
    id_genre : <input type="text" name="genre_id"><br>
    
    <input type="submit" value="Simpan">
</form>