<form action="/processor/create" method="post">
    processor_id : <input type="text" name="processor_id">
    processor_name : <input type="text" name="processor_name">
    processor_score : <input type="text" name="processor_score">
    <input type="submit" value="Simpan">
</form>