<form action="/ram/create" method="post">
    ram_id : <input type="text" name="ram_id">
    ram_size : <input type="text" name="ram_size">
    ram_score : <input type="text" name="ram_score">
    <input type="submit" value="Simpan">
</form>