<form action="/rating/addreview" method="post">
    User_Id : <input type="text" name="user_id"><br>
    game_id : <input type="text" name="game_id"><br>
    rating : <input type="text" name="rating_value"><br>
    gameplay_value : <input type="text" name="gameplay_value"><br>
    graphic_value : <input type="text" name="graphic_value"><br>
    controls_value : <input type="text" name="controls_value"><br>
    story_value : <input type="text" name="story_value"><br>
    music_value : <input type="text" name="music_value"><br>
    review : <input type="text" name="review"><br>
    
    <input type="submit" value="Simpan">
</form>