<form action="/spesifikasi/create" method="post">
    ram_id : <input type="text" name="ram_id"><br>
    processor_id : <input type="text" name="processor_id"><br>
    vga_id : <input type="text" name="vga_id"><br>
    game_id : <input type="text" name="game_id"><br>
    status : <input type="text" name="status"><br>
    tipe : <input type="text" name="tipe"><br>
    <input type="submit" value="Simpan">
</form>