<form action="/spesifikasi/create" method="post">
    ram_id : <input type="text" name="ram_id">
    processor_id : <input type="text" name="processor_id">
    vga_id : <input type="text" name="vga_id">
    game_id : <input type="text" name="game_id">
    status : <input type="text" name="status">
    tipe : <input type="text" name="tipe">
    <input type="submit" value="Simpan">
</form>