<form action="/vga/create" method="post">
    vga_id : <input type="text" name="vga_id">
    vga_name : <input type="text" name="vga_name">
    vga_score : <input type="number" name="vga_score">
    <input type="submit" value="Simpan">
</form>