<form action="/games/updatespeks" method="post">
    Id Game : <input type="text" name="id"><br>
    id spek min : <input type="text" name="min_requirement"><br>
    id spek rec : <input type="text" name="recommended_requirement"><br>
    <br>
    <input type="submit" value="Simpan">
</form>

