<form action="/vga/updateVga" method="post">
    Id Game : <input type="text" name="id"><br>
    vga_score : <input type="number" name="vga_score"><br>
    <input type="submit" value="Simpan">
</form>