<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Genre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">On Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Specification</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search"> </form>
        <a class="btn btn-default navbar-btn">
          <i class="fa fa-shopping-cart fa-fw"></i>Cart</a>
        <a class="btn btn-default navbar-btn">
          <i class="fa fa-user fa-fw"></i>Sign in</a>
      </div>
    </div>
  </nav>
  <div class="text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container bg-light py-3">
      <div class="row">
        <div class="text-center col-md-3">
          <img class="img-fluid mx-auto" src="img/login.png" alt="Card image" height="16" width="150

200">
          <div class="row">
            <div class="col-md-12 text-center">
              <a class="btn btn-success btn-lg m-3" href="#">Update</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-left">Nama</h4>
            </div>
            <div class="col-md-9">
              <h4 class="text-left">: lorem</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-left">Alamat</h4>
            </div>
            <div class="col-md-9">
              <h4 class="text-left">: lorem</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-left">Email</h4>
            </div>
            <div class="col-md-9">
              <h4 class="text-left">: lorem</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-left">Preference</h4>
            </div>
            <div class="col-md-9">
              <h4 class="text-left">: lorem</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="text-right col-md-10">
              <h1 class="text-right">$300</h1>
            </div>
          </div>
          <div class="row">
            <div class="text-right col-md-10">
              <a class="btn btn-success btn-lg" href="#">Top Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">My Specification</h1>
        </div>
      </div>
      <div class="row">
        <div class="px-4 col-md-2">
          <h3 class="text-left">OS</h3>
        </div>
        <div class="col-md-10">
          <h3 class="text-left">: lorem</h3>
        </div>
      </div>
      <div class="row">
        <div class="px-4 col-md-2">
          <h3 class="text-left">Processor</h3>
        </div>
        <div class="col-md-10">
          <h3 class="text-left">: lorem</h3>
        </div>
      </div>
      <div class="row">
        <div class="px-4 col-md-2">
          <h3 class="text-left">Memory</h3>
        </div>
        <div class="col-md-10">
          <h3 class="text-left">: lorem</h3>
        </div>
      </div>
      <div class="row">
        <div class="px-4 col-md-2">
          <h3 class="text-left">Graphics</h3>
        </div>
        <div class="col-md-10">
          <h3 class="text-left">: lorem</h3>
        </div>
      </div>
      <div class="row">
        <div class="px-4 col-md-2">
          <h3 class="text-left">Storage</h3>
        </div>
        <div class="col-md-10">
          <h3 class="text-left">: lorem</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>