<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark" onload='generate()'>
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container" style="border-radius: 10px;">
      <div class="row">
        <div class="m-0 col-md-8">
          <div class="container bg-light my-2 py-2">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-left text-dark">
                  <b>Top Up Balance</b>
                </h4>
                <form method="POST" name="topup" action="/user/topupcreate">
                <div class="container bg-light my-2 border-dark border py-1">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-group list-group-flush bg-light">
                        <li class="list-group-item p-0 list-group-item-info">
                          <div class="row">
                            <div class="text-right col-md-6">
                              <h4 class="text-left text-dark">
                                <b>Rp. 100.000</b>
                              </h4>
                            </div>
                            <div class="col-md-6 text-right">
                              <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="minus()" value="-">
                              <input type="text" id="count" name="topup1" value="0" style="width: 25px; text-align: center; background: transparent; border: none;">
                              <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="plus()" value="+">
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item p-0 list-group-item-info">
                                <div class="row">
                                  <div class="text-right col-md-6">
                                    <h4 class="text-left text-dark">
                                      <b>Rp. 200.000</b>
                                    </h4>
                                  </div>
                                  <div class="col-md-6 text-right">
                                        <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="minus2()" value="-">
                                        <input type="text" id="count2" name="topup2" value="0" style="width: 25px; text-align: center; background: transparent; border: none;">
                                        <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="plus2()" value="+">
                                      </div>
                                  </div>
                        </li>
                        <li class="list-group-item p-0 list-group-item-info">
                                <div class="row">
                                  <div class="text-right col-md-6">
                                    <h4 class="text-left text-dark">
                                      <b>Rp. 500.000</b>
                                    </h4>
                                  </div>
                                  <div class="col-md-6 text-right">
                                        <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="minus3()" value="-">
                                        <input type="text" id="count3" name="topup3" value="0" style="width: 25px; text-align: center; background: transparent; border: none;">
                                        <input type="button" id=""  style="background: black;color :white;margin: 0px;padding: 0px;width: 27px;height: 27px;font-size: 18px; border:none;border-radius: 5px;" onclick="plus3()" value="+">
                                      </div>
                                  </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                        <h5 class="text-right">Total :</h5><input type="text" name="totaltopup" id="total" value="0" class="text-right" style="background: transparent; border: none; font-size: 18px;">
                    </div>
                  </div>
      
                </div>
              
                <h5 class="text-dark text-left">
                  <b>Terms &amp; Conditions</b>
                </h5>
                <p class="text-justify">These Terms constitute the entire agreement between Company Name and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container my-2 py-2 bg-light">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-left text-dark m-0">
                  <b>Payment Method</b>
                </h4>
                <div class="container bg-light my-2 border-dark border py-1">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-group list-group-flush bg-light">
                        <li class="list-group-item p-0 list-group-item-info">
                          <div class="radio text-left">
                            <input type="radio" id="same-address1" name="optradio" value="BC" required>
                            <label for="same-address1">
                              <i class="fa fa-credit-card mx-2 fa-lg"></i>
                              <span>Bank Transfer</span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item p-0 list-group-item-info">
                          <div class="radio text-left">
                            <input type="radio" id="same-address" name="optradio" value="MD">
                            <label for="same-address">
                              <i class="fa fa-credit-card mx-2 fa-lg"></i>
                              <span>Paypal</span>
                            </label>
                          </div>
                        </li> 
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6 text-left">
                            <h5 class="text-left">Total :</h5>
                            <input type="text" id="total2" name="total" value="0" class="text-left" style="background: transparent; border: none; font-size: 18px;">
                            <input type="hidden" name="user_id" value="<%= req.session.User.id %>">
                            <input type="hidden" name="status" value="pending">
                            <input type="hidden" name="confirmation_code" id="confirmation">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                        <button type="submit" class="btn btn-success" onclick="checkvalue()" >Top Up</button>
                      </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
            <p>© Copyright 2018 Gamestudio - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      var count = 0;
      var count2 = 0;
      var count3 = 0;
      var total = 0;
        var countEl = document.getElementById("count");
        var countEl2 = document.getElementById("count2");
        var countEl3 = document.getElementById("count3");
        var countTotal = document.getElementById("total");
        var countTotal2 = document.getElementById("total2");
        function plus(){
            count++;
            countEl.value = count;
            countTotal.value = parseInt(countTotal.value) + parseInt(100000);
            countTotal2.value = countTotal.value;
        }
        function minus(){
        if (count > 0) {
            count--;
            if(count < 0){
                count = 0;
                countTotal.value = 0;
            }
            countEl.value = count;
            countTotal.value = parseInt(countTotal.value) - parseInt(100000);
            countTotal2.value = countTotal.value;
        }  
        }
        function plus2(){
            count2++;
            countEl2.value = count2;
            countTotal.value = parseInt(countTotal.value) + parseInt(200000);
            countTotal2.value = countTotal.value;
        }
        function minus2(){
        if (count2 > 0) {
            count2--;
            if(count2 < 0){
                count2 = 0;
                countTotal.value = 0;
            }
            countEl2.value = count2;
            countTotal.value = parseInt(countTotal.value) - parseInt(200000);
            countTotal2.value = countTotal.value;
        }  
        }
        function plus3(){
            count3++;
            countEl3.value = count3;
            countTotal.value = parseInt(countTotal.value) + parseInt(500000);
            countTotal2.value = countTotal.value;
        }
        function minus3(){
        if (count3 > 0) {
            count3--;
            if(count < 0){
                count3 = 0;
                countTotal.value = 0;
            }
            countEl3.value = count3;
            countTotal.value = parseInt(countTotal.value) - parseInt(500000);
            countTotal2.value = countTotal.value;
        }  
        }
        function checkvalue(){
          if(countTotal2.value == 0){
            window.alert("Value must higher than 0");
            document.topup.action = "/user/topup";
          }
        }
    
          var ALPHABET = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
          var ID_LENGTH = 6;
          function generate() {
          var rtn = '';
          for (var i = 0; i < ID_LENGTH; i++) {
            rtn += ALPHABET.charAt(Math.floor(Math.random() * ALPHABET.length));
          }
          var confirmation = document.getElementById('confirmation');
          confirmation.value = rtn;
        }
        
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/jquery.barrating.min.js"></script>
</body>

</html>