<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="m-0 col-md-6">
            <form method="POST" action="/user/validatecode" id="confirmtopup" >  
          <div class="container bg-light my-2 py-2">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-dark text-center">
                  <b>Confirm Your Order</b>
                </h4>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-5">
                <h4 class="text-dark text-left m-0">
                  <b>Order ID</b>
                </h4>
              </div>
              <div class="col-md-7">
                <h4 class="text-dark text-left m-0">
                  <b>: <%= transaksi.id %></b>
                </h4>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-5">
                <h4 class="text-dark text-left m-0">
                  <b>Tipe</b>
                </h4>
              </div>
              <div class="col-md-7">
                <h4 class="text-dark text-left m-0">
                  <b>: Top Up</b>
                </h4>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-5">
                <h4 class="text-dark text-left m-0">
                  <b>Total</b>
                </h4>
              </div>
              <div class="col-md-7">
                <h4 class="text-dark text-left m-0">
                  <b>: Rp. <%= transaksi.total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></b>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <h4 class="text-dark my-2 text-left">
                  <b>Enter This Code</b>
                </h4>
              </div>
              <div class="col-md-7">
                <h4 class="text-dark my-2 text-left">
                  <b>: <%= transaksi.confirmation_code %></b>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control" name="confirmation_code" placeholder="input your confirmation code">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-2">
                <button type="submit">Confirm</button>
                <button type="">Cancel</button>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
            <p>© Copyright 2018 Gamestudio - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/jquery.barrating.min.js"></script>
<!--  
  <script>
      function myFunction() {

         return "Are you sure you want to navigate away?";
      }
      </script>
  
  <script>
    $(document).on("submit", "form", function(event){
        window.onbeforeunload = null;
});
  </script> -->

</body>

</html>